# Ignore node_modules and build directories
#IGNORE IT ALLLLL (when over 100)

.gitignores/
node_modules/
dist/
build/

package-lock
package-lock.json

# Ignore log files
*.log


.next
#should ignore next????
# ignore environment files
.env
.env.local

# ignore compiled code
*.class
*.pyc
*.o