# Ignore node_modules and build directories

#IGNORE IT ALLLLL PLZZZZZZZZZZ

.gitignores/
node_modules/
dist/
build/

package-lock
# Ignore log files
*.log

# Ignore environment files
.env
.env.local

# Ignore compiled code
*.class
*.pyc
*.o